@charset "UTF-8";
@font-face {
  font-family: "Open Sans Light";
  src: url("../../fonts/subset-OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../../fonts/subset-OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans-Light.woff2") format("woff2"), url("../../fonts/subset-OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Light Italic";
  src: url("../../fonts/subset-OpenSansLight-Italic.eot");
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("../../fonts/subset-OpenSansLight-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSansLight-Italic.woff2") format("woff2"), url("../../fonts/subset-OpenSansLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans.eot");
  src: local("Open Sans"), local("OpenSans"), url("../../fonts/subset-OpenSans.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans.woff2") format("woff2"), url("../../fonts/subset-OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("../../fonts/subset-OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../../fonts/subset-OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans-Italic.woff2") format("woff2"), url("../../fonts/subset-OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../../fonts/subset-OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../../fonts/subset-OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans-Bold.woff2") format("woff2"), url("../../fonts/subset-OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold Italic";
  src: url("../../fonts/subset-OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../../fonts/subset-OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans-BoldItalic.woff2") format("woff2"), url("../../fonts/subset-OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../../fonts/subset-OpenSans-Semibold.eot");
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../../fonts/subset-OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans-Semibold.woff2") format("woff2"), url("../../fonts/subset-OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Semibold Italic";
  src: url("../../fonts/subset-OpenSans-SemiboldItalic.eot");
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("../../fonts/subset-OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans-SemiboldItalic.woff2") format("woff2"), url("../../fonts/subset-OpenSans-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans Extrabold";
  src: url("../../fonts/subset-OpenSans-Extrabold.eot");
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("../../fonts/subset-OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans-Extrabold.woff2") format("woff2"), url("../../fonts/subset-OpenSans-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Extrabold Italic";
  src: url("../../fonts/subset-OpenSans-ExtraboldItalic.eot");
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("../../fonts/subset-OpenSans-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-OpenSans-ExtraboldItalic.woff2") format("woff2"), url("../../fonts/subset-OpenSans-ExtraboldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed Light";
  src: url("../../fonts/subset-RobotoCondensed-Light.eot");
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("../../fonts/subset-RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-RobotoCondensed-Light.woff2") format("woff2"), url("../../fonts/subset-RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed Light Italic";
  src: url("../../fonts/subset-RobotoCondensed-LightItalic.eot");
  src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url("../../fonts/subset-RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-RobotoCondensed-LightItalic.woff2") format("woff2"), url("../../fonts/subset-RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("../../fonts/subset-RobotoCondensed-Regular.eot");
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("../../fonts/subset-RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-RobotoCondensed-Regular.woff2") format("woff2"), url("../../fonts/subset-RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed Italic";
  src: url("../../fonts/subset-RobotoCondensed-Italic.eot");
  src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"), url("../../fonts/subset-RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-RobotoCondensed-Italic.woff2") format("woff2"), url("../../fonts/subset-RobotoCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../../fonts/subset-RobotoCondensed-Bold.eot");
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../../fonts/subset-RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-RobotoCondensed-Bold.woff2") format("woff2"), url("../../fonts/subset-RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed Bold Italic";
  src: url("../../fonts/subset-RobotoCondensed-BoldItalic.eot");
  src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"), url("../../fonts/subset-RobotoCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/subset-RobotoCondensed-BoldItalic.woff2") format("woff2"), url("../../fonts/subset-RobotoCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
* {
  box-sizing: border-box;
  outline: 0;
}

@media (max-width: 992px) {
  a:hover, input:hover, img:hover, button:hover {
    cursor: default;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #393939;
}

img {
  max-width: 100%;
}

/* Настройка тостера */
.jq-toast-single {
  padding: 30px 0;
  background-color: #00c5ee;
  font-size: 22px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #393939;
}

.glo-container {
  width: 1140px;
  margin: auto;
}
.glo-button {
  border-radius: 18px;
  background-color: #ffffff;
  color: #00b5ee;
  border: 1px #00b5ee solid;
  padding: 12px 24px;
  font-size: 11px;
}
.glo-button:focus {
  outline: 0;
}

.section-title {
  font-size: 26px;
  line-height: 21px;
  font-family: "Open Sans Semibold", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: auto;
  color: #393939;
}
.section-subtitle {
  font-family: "Open Sans Light", sans-serif;
  font-weight: 300;
  display: block;
  font-size: 20px;
  color: #000000;
}

.input {
  border: 1px solid #e5f7fd;
  border-radius: 10px;
  padding: 20px 26px;
  font-size: 15px;
  line-height: 24px;
  color: #9f9f9f;
  width: 100%;
}
.input:focus {
  border-color: #00b5ee;
  outline: #00b5ee;
}
.input.invalid {
  border: 1px solid red;
}

.phone {
  font-family: "Open Sans Bold", sans-serif;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #393939;
}

.jump-btn {
  cursor: pointer;
  position: fixed;
  opacity: 80%;
  bottom: 10px;
  left: 10px;
  background-color: #00b5ee;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  display: none;
  z-index: 1;
}

@media (max-width: 1200px) {
  .glo-container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .glo-container {
    width: 595px;
  }
}
@media (max-width: 646px) {
  .glo-container {
    width: 476px;
  }
}
@media (max-width: 520px) {
  .glo-container {
    width: 380px;
  }
}
@media (max-width: 396px) {
  .glo-container {
    width: 320px;
  }
}
.header {
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-place {
  display: flex;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left__image img {
  text-align: center;
}
.header-left__phones {
  margin-left: 14px;
}
.header-left__phone {
  display: block;
}
.header-left__button {
  margin-left: 20px;
}
.header-center {
  margin-left: -72px;
}
.header-right {
  padding-right: 7px;
}
.header-right__links {
  display: flex;
  align-items: center;
}

.entry-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 32px;
  height: 50px;
}
.entry-link__image {
  height: 30px;
  text-align: center;
}
.entry-link__text {
  font-family: "Open Sans Semibold", sans-serif;
  font-weight: 600;
  line-height: 20px;
  font-size: 12px;
  margin-top: 4px;
}

@media (max-width: 992px) {
  .header {
    height: 80px;
  }
  .header-left {
    display: none;
  }
  .header-center {
    margin-left: initial;
  }
  .header-center img {
    width: 115px;
  }

  .entry-link {
    height: 24px;
    margin-left: 16px;
  }
  .entry-link__text {
    display: none;
  }
  .entry-link__image img {
    height: 20px;
  }
}
@media (max-width: 320px) {
  .header-center {
    margin-left: 15px;
  }
  .header-center img {
    width: 108px;
  }
  .header-right {
    margin-right: 15px;
  }
}
.navbar {
  border: 1px solid yellowgreen;
  height: 65px;
  background-color: #00b5ee;
  color: #ffffff;
}

@media (max-width: 320px) {
  .navbar {
    height: 46px;
  }
}
.hero {
  height: 655px;
  margin-top: 20px;
}
.hero-tile {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.hero-tile__description {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.hero-body {
  display: grid;
  grid-template: 50% 50%/repeat(3, 1fr);
}
.hero-caramell {
  grid-column: 1/span 2;
  order: -2;
  background: url("../../images/hero/baby.png") no-repeat top right;
  margin-right: -5px;
}
.hero-caramell .hero-tile__description {
  bottom: 10px;
}
.hero-ware {
  margin-right: -5px;
  background: url("../../images/hero/ware.png") no-repeat bottom right;
}
.hero-ware .hero-tile__description {
  paddin-left: 5px;
}
.hero-bedlinen {
  background: url("../../images/hero/bedlinen.png") no-repeat bottom right;
  margin-right: 5px;
}
.hero-toyboxes {
  order: -1;
  grid-column: 3/span 1;
  grid-row: 1/span 2;
  background: url("../../images/hero/toyboxes.png") no-repeat top right;
}
.hero-toyboxes .hero-tile__description {
  padding-left: 15px;
}

@media (max-width: 1200px) {
  .hero-toyboxes {
    background-position-y: bottom;
    margin-right: initial;
    margin-left: 15px;
  }
  .hero-bedlinen {
    margin-right: 15px;
  }
}
@media (max-width: 992px) {
  .hero {
    height: 523px;
  }
  .hero-body {
    display: grid;
    grid-template: 50% 50%/repeat(2, 1fr);
  }
  .hero-tile__description {
    height: 59px;
    font-size: 16px;
  }
  .hero-caramell {
    grid-column: 1/1;
    order: 0;
    background-image: url("../../images/hero/baby-600.png");
    margin-right: 10px;
  }
  .hero .hero-tile__description {
    bottom: 0;
  }
  .hero-ware {
    background-image: url("../../images/hero/ware-600.png");
    margin-right: initial;
    background-position-x: left;
  }
  .hero-bedlinen {
    background-image: url("../../images/hero/bedlinen-600.png");
    margin-right: initial;
    background-position-x: right;
    background-position-y: top;
  }
  .hero-toyboxes {
    order: initial;
    grid-column: initial;
    grid-row: initial;
    background-image: url("../../images/hero/toyboxes-600.png");
    background-position-y: bottom;
    margin-right: initial;
    margin-left: initial;
  }
}
@media (max-width: 646px) {
  .hero {
    height: initial;
  }
  .hero-body {
    display: flex;
    flex-direction: column;
  }
  .hero-tile {
    width: 290px;
    height: 254px;
  }
  .hero-caramell, .hero-ware, .hero-bedlinen, .hero-toyboxes {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 320px) {
  .hero-ware, .hero-bedlinen, .hero-toyboxes {
    margin-top: 15px;
  }
}
.sale {
  height: 505px;
}
.sale__title {
  margin-top: 53px;
  margin-bottom: 30px;
}
.sale-cards {
  display: flex;
  justify-content: space-between;
}

.card__article, .card__title {
  display: block;
}
.card-price__block {
  display: flex;
}
.card-cart__image {
  background-color: #00b5ee;
}

@media (max-width: 992px) {
  .sale-cards {
    flex-wrap: wrap;
  }
}
.subscribe {
  border: 1px solid blueviolet;
  height: 287px;
  margin-top: 54px;
}

.brandnews {
  border: 1px solid blueviolet;
  height: 820px;
  margin-top: 120px;
}

.conditions {
  border: 1px solid blueviolet;
  height: 106px;
  margin-top: 54px;
}

.footer {
  border: 1px solid green;
  height: 382px;
  margin-top: 50px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}
.modal_active {
  display: flex;
}
.modal-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  border-style: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.modal-close:hover {
  background-color: #f2f2f2;
}
.modal-close:active {
  border: 0;
  outline: 0;
}

.dialog {
  position: relative;
  margin: auto;
  max-width: 570px;
  width: 90%;
  height: 691px;
  background-color: #ffffff;
}
.dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
}
.dialog-container {
  padding: 73px 95px 0 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialog-container > * {
  text-align: center;
  width: 100%;
}
.dialog-title {
  font-family: "Open Sans Bold", sans-serif;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
  font-size: 22px;
  line-height: 33px;
}
.dialog-greeting {
  margin-top: 7px;
  font-size: 16px;
  line-height: 35px;
}
.dialog-suggest {
  font-size: 15px;
  line-height: 20px;
  width: 80%;
}
.dialog-input__phone {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 22px;
}
.dialog-input__name {
  text-align: left;
  margin-top: 40px;
  padding-left: 22px;
  margin-bottom: 16px;
}
.dialog-button__layout {
  width: 100%;
  padding: 26px 80px;
  margin-top: 8px;
}
.dialog-suggest {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: -9px;
}
.dialog__phone {
  font-size: 24px;
  line-height: 24px;
  margin-left: -11px;
  color: #393939;
}

@media (max-width: 600px) {
  .dialog-container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .dialog-title {
    font-size: 20px;
    line-height: 25px;
  }
  .dialog-greeting {
    font-size: 14px;
    line-height: 16px;
  }
  .dialog-button__layout {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .dialog__phone {
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .dialog {
    height: auto;
    margin-top: 5%;
  }
  .dialog-container {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .dialog-title {
    font-size: 14px;
    line-height: 16px;
  }
  .dialog-input__name {
    margin-top: 20px;
  }
  .dialog-input__name, .dialog-input__phone {
    padding: 10px 15px;
  }
  .dialog-button__layout {
    padding: 10px 15px;
  }
  .dialog-suggest {
    font-size: 12px;
    line-height: 14px;
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
