*
  box-sizing: border-box
  outline: 0

@media (max-width: 992px)
  a, input, img, button
    &:hover
      cursor: default

body
  +opensans-reg
  color: $main-text-color

img
  max-width: 100%

/* Настройка тостера */
.jq-toast-single
  padding: 30px 0
  background-color: $main-color-variation
  font-size: 22px
  line-height: 1.25

a
  text-decoration: none
  color: $main-text-color

.glo
  &-container
    width: $main-container-width
    margin: auto
    //border-right: 1px solid #00b5ee

  &-button
    //+bold
    border-radius: $input-border-radius
    background-color: $text-color-over-main
    color: $main-color
    border: 1px $main-color solid
    padding: $input-padding
    font-size: $input-font-size
    //line-height: 21px
    &_inverse
      background-color: $main-color
      color: $text-color-over-main
    &:focus
      outline: 0
  //&-email
  &-input
    border-radius: $input-border-radius
    //border: 1px $main-color solid
    border: none
    padding: $input-padding
    font-size: $input-font-size

  &-select
    display: block
    font-size: 12px
    line-height: $glo-select-height
    width: 100%
    max-width: 100%
    margin: 0
    border: 1px solid $glo-select-border-color
    border-radius: 0
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    color: $main-text-color
    cursor: pointer
    opacity: 0.6
    padding-left: 20px
    //background-color: rgba(0, 0, 0, 0)

    position: relative
    &:active
      outline: none

    &:hover
      border-color: darken($glo-select-border-color, 10%)

    &:focus
      border-color: darken($glo-select-border-color, 20%)
      color: darken($glo-select-border-color, 20%)
      //color: #222
      outline: none

    &:after
      content: ''
      position: absolute
      height: $glo-select-arrow-height
      width: $glo-select-arrow-width
      background: url("../../images/select-arrow-down.png") no-repeat
      top: $glo-select-arrow-y
      right: $glo-select-arrow-x

    &_blue
      &.glo-select:before
        // not working
        opacity: 1
        background-color: $circle-blue-color

    &__circle
      padding-left: 50px
      &:before
        content: ''
        position: absolute
        height: 25px
        width: 25px
        border-radius: 50%
        left: 12.5px
        top: 12.5px
    &__label
      font-size: 16px
      +opensans-semibold
      line-height: 17px
    &_vertical-align
      margin-bottom: 15px

.section
  &-title
    font-size: 26px
    line-height: 21px
    +opensans-semibold
    text-align: center
    margin: auto
    color: $main-text-color
  &-subtitle
    +opensans-light
    display: block
    font-size: 20px
    color: $text-color-black
.input
  border: 1px solid $border-input
  border-radius: 10px
  padding: 20px 26px
  font-size: 15px
  line-height: 24px
  color: $text-color-secondary
  width: 100%
  &:focus
    border-color: $main-color
    outline: $main-color

  &.invalid
    border: 1px solid red

.phone
  +opensans-bold
  display: inline-block
  text-decoration: none
  color: $main-text-color

.rating
  display: flex

  img
    cursor: pointer

.jump-btn
  cursor: pointer
  position: fixed
  opacity: 80%
  bottom: 10px
  left: 10px
  background-color: $main-color
  border-radius: 50%
  height: 56px
  width: 56px
  display: none
  z-index: 1

@media (max-width: $breakpoint-xl)
  .glo
    &-container
      width: 960px
  .section
    &-title
      font-size: 22px
      line-height: 21px

@media (max-width: $breakpoint-lg)
  .glo
    &-container
      width: 595px

@media (max-width: $breakpoint-sm)
  .glo
    &-container
      width: 476px

@media (max-width: $breakpoint-xs)
  .glo
    &-container
      width: 380px

@media (max-width: $breakpoint-2xs)
  .glo
    &-container
      width: 320px


.select-css::-ms-expand
  display: none

