$main-container-width: 1140px

$main-color: #00b5ee
$main-color-variation: lighten(desaturate(adjust-hue($main-color, 1), 14.29), 47.84)
$main-text-color: #393939
$text-color-black: #000000
$text-color-over-main: #ffffff
$text-color-secondary: lighten($main-text-color, 40.00)
$secondary-bg-color: #e5f7fd
$border-input: $secondary-bg-color
$card-border-color: #e8e8e8
$deal-background-color: lighten($secondary-bg-color, 0.78)
$some-text-color: #2c3442

$breakpoint-xl: 1200px
$breakpoint-lg: 992px
$breakpoint-md: 768px
$breakpoint-sm: 646px
$breakpoint-xs: 520px
$breakpoint-2xs: 396px
$breakpoint-3xs: 320px


