.brandnews
  //border: 1px solid blueviolet
  //height: 820px
  padding-top: 50px
  &__title
    margin-bottom: 44px
  &-cards
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-content: space-between

  .card
    margin-bottom: 22px
