.sale
  //border: 1px solid blueviolet
  height: 505px
  &__title
    margin-top: 53px
    margin-bottom: 47px
  &-cards
    display: flex
    justify-content: space-between

@media (max-width: $breakpoint-lg)
  .sale
    &-cards
      flex-wrap: wrap

