.sale
  margin-bottom: 53px
  &__title
    margin-top: 53px
    margin-bottom: 47px
  &-cards
    display: flex
    justify-content: space-between

@media (max-width: $breakpoint-lg)
  .sale
    margin-bottom: 35px
    &-cards
      flex-wrap: wrap
    &__title
      margin-top: 35px
      margin-bottom: 35px
